*.iml
.gradle/
/local.properties
/keystore.properties
*.jks
*.keystore
/.idea/
.DS_Store
/build/
/app/build/
.artifacts/
*.ap_
*.apk
*.dex
\n# Play Store Assets\nplay_store_assets/*.zip\nplay_store_assets/*.txt
